.hat-box
  width: 75vw
  height: 75vh
  margin: 1em
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center


.hat-style-1
  width: 20vw
  height:auto
  margin-bottom: 15vh
  display: block
  margin-left: auto
  margin-right: auto
  animation-name: float
  animation-iteration-count: infinite
  animation-duration: 2.5s
  animation-timing-function: ease-in-out
  cursor: pointer

.hat-style-1:hover
  width: 21vw

  @keyframes float
    0%
      transform: translateY(0)
    50%
      transform: translateY(15px)
    100%
      transform: translateY(0)


.shadow
  width: 20vw
  height: 1vw
  border-radius: 50%
  background: #999999
  display: block
  margin-left: auto
  margin-right: auto
  margin-bottom: 5vh
  animation-name: shadowgrow
  animation-iteration-count: infinite
  animation-duration: 2.5s
  animation-timing-function: ease-in-out
  cursor: default
  opacity: 0.2
  -webkit-filter: blur(2px)

  @keyframes shadowgrow
    0%
      transform: scale(0%)
    50%
     transform: scale(50%)
    100%
      transform: scale(0%)

.hat-title
  font-family: monospace
  font-size: 2.3em
  margin-bottom: 5vh
  text-transform: uppercase

.hat-info
  font-family: monospace
  font-size: 1.3em
  height: auto
  text-align: center


.brand
  width: 30vw
  height:auto
  margin-bottom: 15vh
  display: block
  margin-left: auto
  margin-right: auto


@media screen and (max-width: 800px)
  .brand
    width: 50vw
  .hat-style-1
    width: 50vw
  .shadow
    width: 50vw
