body
  font-family: "Acumin Pro ExtraCondensed", sans-serif
  margin: 0
  padding: 0
  background: $background
  width: 100%

body
  width: 1400vw
  font-family: "Adso", sans-serif
  background: $background
  color: #ffffff

.panel
  width: 100vw
  height: 100vh
  background: $background
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  flex-direction: row
  float: left



.title-panel
  width: 100vw
  height: 100vh
  background: $background
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  flex-direction: row
  float: left
