h1 {
  font-size: 4em;
  color: #000000;
  text-align: center; }

h2 {
  font-size: 3em;
  color: #000000;
  text-align: center; }

h3 {
  font-size: 2em;
  color: #000000;
  text-align: center; }

p {
  color: #000000;
  text-align: center;
  font-size: 1em; }

.main-blurb {
  font-size: 2em;
  font-family: monospace;
  color: #ffffff; }

body {
  font-family: "Acumin Pro ExtraCondensed", sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  width: 100%; }

body {
  width: 1300vw;
  font-family: "Adso", sans-serif;
  background: #fafafa;
  color: #ffffff; }

.panel {
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  float: left; }

.title-panel {
  width: 100vw;
  height: 100vh;
  background: #222222;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  float: left; }

.hat-box {
  width: 75vw;
  height: 75vh;
  margin: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.hat-style-1 {
  width: 20vw;
  height: 20vw;
  margin-bottom: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  cursor: pointer; }

.hat-style-1:hover {
  width: 21vw; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0); } }

.shadow {
  width: 20vw;
  height: 3vh;
  border-radius: 50%;
  background: #999999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  animation-name: shadowgrow;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  cursor: default;
  opacity: 0.2;
  -webkit-filter: blur(2px); }

@keyframes shadowgrow {
  0% {
    width: 20vw; }
  50% {
    width: 22vw; }
  100% {
    width: 20vw; } }

.hat-title {
  font-family: monospace;
  font-size: 2em;
  margin-bottom: 5vh; }

.hat-info {
  font-family: monospace;
  font-size: 1em;
  width: auto;
  height: auto; }

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1.3em; }
