h1 {
  font-size: 4em;
  color: #000000;
  text-align: center; }

h2 {
  font-size: 3em;
  color: #000000;
  text-align: center; }

h3 {
  font-size: 2em;
  color: #000000;
  text-align: center; }

p {
  color: #000000;
  text-align: center;
  font-size: 1em; }

.main-blurb {
  font-size: 2em;
  font-family: monospace;
  color: #000000; }

body {
  font-family: "Acumin Pro ExtraCondensed", sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  width: 100%; }

body {
  width: 1400vw;
  font-family: "Adso", sans-serif;
  background: #fafafa;
  color: #ffffff; }

.panel {
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  float: left; }

.title-panel {
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  float: left; }

@media screen and (max-width: 800px) {
  body {
    height: 90vh; } }

.hat-box {
  width: 75vw;
  height: 75vh;
  margin: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.hat-style-1 {
  width: 20vw;
  margin-bottom: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  cursor: pointer; }

.hat-style-1:hover {
  width: 21vw; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0); } }

.shadow {
  width: 20vw;
  height: 1vw;
  border-radius: 50%;
  background: #999999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  animation-name: shadowgrow;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  cursor: default;
  opacity: 0.2;
  -webkit-filter: blur(2px); }

@keyframes shadowgrow {
  0% {
    transform: scale(0%); }
  50% {
    transform: scale(50%); }
  100% {
    transform: scale(0%); } }

.hat-title {
  font-family: monospace;
  font-size: 2.3em;
  margin-bottom: 5vh;
  text-transform: uppercase; }

.hat-info {
  font-family: monospace;
  font-size: 1.3em;
  height: auto;
  text-align: center; }

.brand {
  width: 30vw;
  margin-bottom: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 800px) {
  .brand {
    width: 50vw; }
  .hat-style-1 {
    width: 50vw; }
  .shadow {
    width: 50vw; } }

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1.3em; }
