h1 {
  font-size: 4em;
  color: #000000;
  text-align: center; }

h2 {
  font-size: 3em;
  color: #000000;
  text-align: center; }

h3 {
  font-size: 2em;
  color: #000000;
  text-align: center; }

p {
  color: #000000;
  text-align: center;
  font-size: 1em; }

.main-blurb {
  font-size: 2em;
  color: #000000; }

body {
  font-family: "Acumin Pro ExtraCondensed", sans-serif;
  margin: 0;
  padding: 0;
  width: 1500vw;
  background: #fafafa;
  color: #ffffff; }

.panel {
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  float: left; }

.title-panel {
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  float: left; }

.hat-box {
  width: 75vw;
  height: 75vh;
  margin: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.hat-wrapper {
  height: 500px;
  width: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.hat-style-1 {
  width: 300px;
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  cursor: pointer; }

.hat-style-1:hover {
  opacity: 0.8; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0); } }

.shadow {
  width: 300px;
  height: 30px;
  border-radius: 50%;
  background: #999999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  animation-name: shadowgrow;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  cursor: default;
  opacity: 0.2;
  -webkit-filter: blur(2px); }

@keyframes shadowgrow {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.hat-title {
  font-size: 2.3em;
  margin-bottom: 2em;
  text-transform: uppercase; }

.hat-info {
  font-size: 1.3em;
  height: auto;
  text-align: center; }

.brand {
  width: 400px;
  margin-bottom: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.main-blurb {
  font-size: 1.8em;
  color: #000000; }

@media screen and (max-width: 800px) {
  .brand {
    width: 200px; }
  .hat-style-1 {
    width: 200px; }
  .shadow {
    width: 200px;
    height: 5px; }
  .hat-title {
    font-size: 1.8em; }
  .hat-info {
    font-size: 1em; }
  .main-blurb {
    font-size: 1em; } }

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1.3em; }
